[Unit]
Description=LoRa Packet Forwarder
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/benjamin/LoRaWAN_Pi4/packet_forwarder
ExecStart=/home/benjamin/LoRaWAN_Pi4/packet_forwarder/lora_pkt_fwd -c /home/benjamin/LoRaWAN_Pi4/packet_forwarder/global_conf.json
Restart=always
RestartSec=30
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lora_pkt_fwd

[Install]
WantedBy=multi-user.target
